@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  margin:0;
}
.body{
  height: 1250px;
  background-color: azure;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */


.dropdown-content{
  display: none;
}
.dropdown-content.show {
  display:block;
}

/* nav and links styling*/
nav{
  background-color:rgb(196, 252, 250) ;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
nav ul li{
  border-bottom: 2px solid rgba(200, 200, 200,0.7);
  padding: 20px;
}
nav ul li:hover{
  background-color: aqua;
  color: #333;
}
nav ul li:first-of-type{
  border-top: 2px solid rgba(200, 200, 200,0.7);
  padding: 20px;
}

nav ul li a{
  color: rgb(128, 117, 117);
  text-decoration:none ;
}

nav ul li a:hover{
  text-decoration: underline;
}

/* button styles */
button{
  background-color: grey;
  border:0;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  padding:8px 12px;
}

button:focus{
  outline: none;
}

.menu-bars {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate Nav Bars*/
/* Rotate first bar */
.bar1.change  {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
 .bar2.change {
  opacity: 0;
}

/* Rotate last bar */
.bar3.change  {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}